*.log
*.out
MLB
hardlinkA
hardlinkB
testbadl
testcycl
testlink
runexe
KITtimings
KITversion
TESTmessages
test_report*.html
textio.tmp
small1.dat
small2.dat
empty.dat
medium.dat
text.dat
outFuhMishra?
ray/output