body
{
    overflow: hidden;
    font-family: "Verdana", "sans-serif";
    font-size: 12px;
}
textarea
{
    border:0;
    border-top-width:0;
    border-bottom-width:0;
    width:100%;
    height:100%;
    resize: none;
}
.textareacontainer
{
    height:100%;
}

.notify_area
{
    position: absolute;
    top:19px;
    left:-50px;
    margin-left:50%;
    margin-right:50%;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom:2px;
    border:1px solid;
    border-radius:10px;
    font-size: 12px;
    white-space: nowrap;
    z-index:1;
}

.notify_area2
{
    padding-left:5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom:1px;
    border:1px solid;
    border-radius:7px;
    font-size: 12px;
    white-space: nowrap;
    z-index:1;
}

.dropbox_area
{
    position: absolute;
    top:18px;
    right:100px;
    width: 24px;
    z-index:1;
}
