body
{
    overflow: hidden;
}
textarea
{
    border:0;
    border-top-width:0;
    border-bottom-width:0;
    width:100%;
    height:100%;
    resize: none;
}
.textareacontainer
{
    border:1px solid #999999;
    height:100%;
}
