# This is the MLKit main workflow for building and testing the MLKit
# on various architectures.  The workflow contains two jobs called
# "build-and-test-ubuntu" and "build-and-test-macos". It is triggered
# on push or pull request events but only for the master branch.

name: CI

on:

  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build-and-test-ubuntu:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y gcc mlton autoconf make

      - name: Configure
        run: |
          ./autobuild
          ./configure

      - name: Build MLKit
        run: |
          make mlkit
          make mlkit_basislibs

      - name: Install MLKit
        run: |
          sudo make install

      - name: Run tests
        run: |
          make -C test_dev test
          make -C test test_mlkit
          make -C test test_mlkit_no_gc
          make -C test/explicit_regions all

  build-and-test-macos:

    runs-on: macos-latest

    steps:

      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          brew update
          rm -f /usr/local/include/c++
          brew install gcc
          brew install autoconf
          brew install make
	  # The brew version of MLton has a bug
          brew install mlton --HEAD

      - name: Configure
        run: |
          ./autobuild
          ./configure

      - name: Build MLKit
        run: |
          make mlkit
          make mlkit_basislibs

      - name: Install MLKit
        run: |
          sudo make install

      - name: Run tests
        run: |
          make -C test_dev test
          make -C test test_mlkit
          make -C test test_mlkit_no_gc
          make -C test/explicit_regions all
